@font-face {
	font-family: josefinSansItalic;
	src: url('../fonts/JosefinSans/JosefinSans-Italic.ttf');
}
@font-face {
	font-family: josefinSansLight;
	src: url('../fonts/JosefinSans/JosefinSans-Light.ttf');
}
@font-face {
	font-family: josefinSansSemiBold;
	src: url('../fonts/JosefinSans/JosefinSans-SemiBold.ttf');
}
@font-face {
	font-family: josefinSansSemiBoldItalic;
	src: url('../fonts/JosefinSans/JosefinSans-SemiBoldItalic.ttf');
}