@font-face {
	font-family: josefinSansItalic;
	src: url('../fonts/JosefinSans/josefinSans-Italic.ttf');
}
@font-face {
	font-family: josefinSansLight;
	src: url('../fonts/JosefinSans/josefinSans-Light.ttf');
}
@font-face {
	font-family: josefinSansSemiBold;
	src: url('../fonts/JosefinSans/josefinSans-SemiBold.ttf');
}
@font-face {
	font-family: regencyScript;
	src: url('../fonts/RegencyScriptFLF.ttf');
}