/*===================================================================*/
/*======================= STATIC STYLESHEET =========================*/
/*===================================================================*/

* {
	margin: 0px;
}

html, body {
  height: 100%;
  font-family: josefinSansLight;
}

.page-wrap {
  min-height: 100%;
  height:100%;
  /* equal to footer height */
  margin-bottom: -20px;
}

h2 {
	font-family: MateSCRegular;
	text-align: center;
	margin: 0;
}

h3 {
	font-family: josefinSansLight;
}

p {
	a {
		font-size: 14px;
		text-decoration: underline;
	}
}

a {
	text-decoration: none;
	color: black;
	&:hover {
		color: #707070;
	}
}

input {
	display: block;
}

input, textarea {
	font-weight: normal;
}

img {
	line-height: 0;
}

.hide, .hidden {
	display: none;
}

a.button {
	margin-top: 10px;
	background-color: #303030;
	color: white;
	font-size: 17px;
	padding: 6px;
	border: 1px solid white;
	text-decoration: none;
	&:hover, &:active, &:visited {
		color:white;
		text-decoration: none;
	}
	&:hover {
		background-color: #404040;
	}
}

a.button {
	padding: 6px 12px;
	color: black !important;
	background-color: #e0e0e0;
	border: 1px solid #a0a0a0;
	&:hover {
		background-color: #eaeaea;
		color: black !important;
	}
}

.hr {
	border-bottom: 1px solid #aaa;
	padding: 0 0 20px 0;
	margin: 0 0 20px 0;
}

.widthAuto {
	width: auto !important;
}

// ======= Header =======
div.header {
	height:auto;
	overflow: auto;
	@include linear-gradient(#111, #444);
	//background-color: #333;
	.site-heading {
		display: inline-block;
		h1 {
			width: auto;
			margin: 0 0 0 20px;
			padding: 10px 0 0 0;
			font-family: MateSCRegular;
			text-align: left;
			color: white;
			a {
				color: white;
				&:hover {
					text-decoration: none;
					color: white;
				}
			}
		}
		h3 {
			width: auto;
			margin: 0;
			text-align: left;
			text-transform: none;
			color: white;
		}
	}
	.contact {
		position:relative;
		float: right;
		color: white;
		text-align: right;
	}
	// fix for body jumping 34px when mobile nav bar becomes fixed
	&.fixedNav {
		margin-bottom: 34px;
	}
}



// ======= Artist Navigation =======
.filterNav {
	position:relative;
	height:auto;
	float:left;
	font-family: MateSCRegular;
	font-size: 1.2em;
	overflow: hidden;
	background-color: #fff;
	a {
		display: block;
		color: black;
		text-decoration: none;
		text-transform: capitalize;
		padding: 5px 10px;
		&.mobile-menu {
			background-color: #bbb;
			opacity: 1;
		}
		&.selected {
			background-color: #333;
			color:white;
		}
		&:hover {
			text-decoration: underline;
		}

	}
	ul {
		margin: 0;
		padding: 0;
		overflow: hidden;
		li {
			list-style: none;
		}
	}
	&.fixed {
		z-index:1;
		top:0px;
		left:0px;
	}
	&.open {
		max-height: 550px;
	}
}

// ======= Biographies ========
.biographies {
	width: auto;
	overflow: hidden;
	h2 {
		padding-bottom: 10px;
	}
	.bio {
		width:100%;
		text-align:justify;
	}
}

// ======= Image Grid =======
.img-grid-container {
	width:auto;
	overflow: hidden;
	.tile {
		margin: 0;
		overflow:hidden;
		a.img-container {
			img {
				max-width:100%;
				min-width:100%;
			}
			img:hover {
				opacity: 0.8;
			}
		}
		.art-info {
			padding: 5px 0px;
			a {
				text-decoration: none;
				cursor: auto;
				font-size: 1.2em;
			}
			.artist {
				font-family: josefinSansSemiBold;
			}
			.title {
				font-family: josefinSansItalic;
				color: #777;
			}
		}
	}
}

// Lightcase overrides
// move this to lightcase css files?

#lightcase-overlay {
	//background-color: white !important;
}

#lightcase-case {
	//color: black !important;
	text-shadow: none !important;
}

.lightcase-caption {
	font-family: josefinSansSemiBold !important;
	font-size: 1.5em !important;
}

.lightcase-contact {
	font-size: 1.6em !important;
}

// ADMIN

a.logout {
	position: absolute;
	top: 70px;
	right: 20px;
}

img {
	&.artwork-small {
		max-width: 120px;
	}
	&.artwork-medium {
		max-width: 300px;
	}
}

.tabs-nav {
	background-color: white;
}

.tab {
	text-align: center;
	.admin-table {
		margin: 20px auto;
		th, td {
			border: 1px solid #ccc;
			padding: 15px;		
		}
	}
}

.error-banner, .success-banner {
	position: fixed;
	top:0;
	height:60px;
	width:100%;
	color: black;
	text-align:center;
	font-size: 1.25em;
	line-height: 60px;
	z-index:1;
}

.error-banner {
	background-color: red;
}

.success-banner {
	background-color: green;
}