/* 1px and greater */
@media only screen and (min-width: 1px) {
	.hr {
		padding: 0 0 8px 0;
		margin: 0 0 8px 0;
	}
	.hr-top {
		padding: 8px 0 0 0;
		margin: 8px 0 0 0;
	}
	.header {
		margin-bottom: 0;
		.site-heading {
			h1 {
				font-size: 2em;
			}
			h3 {
				font-size: 1em;
				padding: 0 0 10px 20px;
			}
		}
		.contact {
			display:none;
			font-size: 1.2em;
			margin: 10px 20px 10px 0;
		}
		&.fixedNav {
			margin-bottom: 34px;
		}
	}
	.filterNav {
		margin:0 0 10px 0;
		padding:0;
		float: none;
		width: 100%;
		font-size: 1.1em;
		max-height: 2em;
		@include transition-property(max-height);
		@include transition-duration(0.5s);
		@include transition-timing-function(ease-in-out);
		@include transition-delay(0s);
		&.fixed {
			position: fixed;
			div.hr {
				margin: 0 !important;
			}
		}
		.mobile-menu {
			display: block;
		}
	}
	.biographies {
		.bio {
			h2 {
				margin: 20px;
			}
			font-size: 1.1em;
			padding: 0 20px 20px 20px;
		}
	}
	.img-grid-container {
		width: 100%;
		.tile {
			width: 49.5%;
			padding: 10px 20px;
			.title {
				font-size: 1.1em
			}
		}
	}

	.lightcase-caption {
		.leftCol, .rightCol {
			display: block;
		}
		.leftCol {
			padding-bottom: 10px;
			.artist {
				font-size: 1.3em !important;
			}
			.title {
				font-size: 1.3em !important;
			}
			.year {
				font-size: 1.3em !important;
				white-space: nowrap;
				display: inline-block;
			}
			.desc {
				font-size: 1em !important;
			}
		}
		.rightCol {
			.contact-title {
				font-size: 1.3em !important;
			}
			.contact-details {
				font-size: 1.1em !important;
			}
		}
	}
}