/* 480px and greater */
@media only screen and (min-width: 480px) {
	.header {
		margin-bottom: 10px;
		.site-heading {
			h1 {
				font-size: 2.2em;
			}
			h3 {
				font-size: 1em;
			}
		}
		.contact {
			display: block;
		}
		&.fixedNav {
			margin-bottom: 0;
		}
	}
	.filterNav {
		margin: 10px 0 0 0;
		padding: 0 10px;
		width: auto;
		float: left;
		font-size: 1.2em;
		max-height: 9999px;
		@include transition(all none);
		&.fixed {
			position: relative;
			div.hr {
				margin: 0 0 20px 0 !important;
			}
		}
		.mobile-menu {
			display: none;
		}
	}
	.biographies {
		.bio {
			h2 {
				margin: 30px;
			}
		}
	}
	.img-grid-container {
		width: auto;
		.tile {
			padding: 10px 30px;
		}
	}

	.lightcase-caption {
		display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
		.leftCol, .rightCol {
			-webkit-flex: 1;
		    -ms-flex: 1;
	    	flex: 1;
			padding: 0 15px;
		}
		.leftCol {
			float: left;
			text-align: right;
			border-right: 1px solid white;
			.artist {
				font-size: 1.6em !important;
				white-space: nowrap;
				display: inline-block;
			}
			.title {
				font-size: 1.6em !important;
				white-space: nowrap;
				display: inline-block;
			}
			.desc {
				font-size: 1.1em !important;
			}
		}
		.rightCol {
			float:right;
			text-align: left;
			.contact-title {
				font-size: 1.4em !important;
				white-space: nowrap;
			}
			.contact-details {
				font-size: 1.2em !important;
			}
		}
	}
	
}