/* 992px and greater */
@media only screen and (min-width: 992px) {
	.header {
		.site-heading {
			h1 {
				font-size: 3em;
			}
			h3 {
				font-size: 1.2em;
			}
		}
	}
	.biographies {
		.bio {
			padding: 0 30px 20px 30px;
		}
	}
	.img-grid-container {
		.tile {
			width: 24.5%;
			padding: 15px 30px;
		}
	}
}